@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato Bold";
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: "Robot Regular";
    src: url(../fonts/Roboto/Roboto/Roboto-Regular.ttf);
}



header nav .container-fluid{
    background-color: #112E3E; 
}


header .navbar  {
    padding: 0%;
}

header img{
    margin: 5%;
    width: 75%;
}
nav .navbar-collapse{
    justify-content: space-around;
}

nav .navbar-nav .nav-item .nav-link{
    font-family: "Lato Regular";
    color: white;
}

nav .nav-item .nav-link{
    padding: 0%;
}

nav .navbar-nav li:not(:first-child){
    border-left: 1px solid white;
}

/* Banner */
#banner {
    margin-bottom: 5%;
    
}

#carouselExampleAutoplaying > .carousel-inner > .carousel-item {
  height: 55vh;
}

.carousel-item.active {
    width: 100%;
}
/* About */

#about {
    font-family: "Lato Regular";
    text-align: center;

}

#about > .container > .row h1{
    font-size: 30px;
}
#about > .container > .row h2{
    font-size: 20px;
}
#about > .container > .row p{
    font-size: 15px;
}


#about .container{
    text-align: center;
    margin-bottom: 5%;
}


#about > a{
    font-family: "Lato Bold";
    text-align: center;
    background-color: #112E3E;
    color: white;
    padding: 1% 1%;
    border-radius: 5px;
    text-decoration: none;
}

/* réalisation */
#realisations > .container > .row > .col-12.col-md-6.col-lg-4> a > img{
        width: 100%;
}

#realisations > .container > .row {
    text-align: center;
    margin-top: 5%;
}

#realisations {
    margin-bottom: 6%;
    text-align: center;
}


#realisations  a:last-child {
    font-family: "Lato Bold";
    text-align: center;
    background-color: #112E3E;
    color: white;
    padding: 1% 1%;
    border-radius: 5px;
    text-decoration: none;
    
}





/* Projet */
#projets{
    text-align: center;
    margin-bottom: 4%;
    
}

#projets > .container > .row > .col-12.col-md-6.col-lg-4 ul > li,a {
    text-decoration: none;
    color: black;
    list-style: none;
}

#projets > .container > .row > p{
    margin-bottom: 4%;
}

#projets > .container > .row{
    
}

#realisations > div > div > a {

    display: inline;
}




/* Footer */
footer{
    text-align: center;
    background-color: #112E3E;
    color: white;
}

footer .container{
    text-align: center;
}