@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: "Robot Regular";
    src: url(../fonts/Roboto/Roboto/Roboto-Regular.ttf);
}


header nav .container-fluid{
    background-color: #112E3E; 
}

header .navbar  {
    padding: 0%;
}

header img{
    margin: 5%;
    width: 75%;
}
nav .navbar-collapse{
    justify-content: space-around;
}

nav .navbar-nav .nav-item .nav-link{
    font-family: "Lato Regular";
    color: white;
}

nav .nav-item .nav-link{
    padding: 0%;
}

nav .navbar-nav li:not(:first-child){
    border-left: 1px solid white;
}

/* Carrousel */



/* About */
#about .container{
    text-align: center;
}




footer{
    text-align: center;
    background-color: #112E3E;
    color: white;
}

footer .container{
    text-align: center;
}